<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OpenAIAPIKey" value="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" />
	</appSettings>
	
</configuration>